//colors
$brand_color_a: #2d86c7;
$brand_color_b: #e0f3fd;
$brand_color_c: #08c151;
$brand_color_d: #f5c8a2;

$color_green: #07a947;
$color_red: #ff4444;

$color_lightgray: #d3d3d3;
$color_gray: #00000079;

$input_focus_color: lighten($brand_color_a, 10%);

//classes
$class_places_shown: display-places;
$class_change_location: display-change-location;
$class_places_suggest_shown: show-suggestions;
$class_create_activity_shown: create-activity;
$class_available_me_sections: display-available-me-sections;
$class_confirm_me_action: confirm-me-action;
$class_autocomplete_me: show-auto-complete;

//app variables
$app_background: #ededed;
$app_margin_lr: 10px;

$view_gap_tb: 15px;
$view_padding_lr: 15px;

$logo_h: 40px;

$header_pb: 10px;

$when_option_width: 68px;
$when_option_gap_lr: 6px;

$activity_gap_lr: 10px;
$activity_gap_tb: 8px;
$activity_item_w: 25%;
$activity_row_items: 4;

$activity_level_2_item_w: 25%;
$activity_level_2_row_items: 4;
$activity_level_2_height: 70px;
$activity_level_2_ptb: 10px;
$activity_level_2_plr: 10px;
$activity_level_2_border_w: 1px;

$activity_level_3_item_w: 33.333%;
$activity_level_3_height: 60px;
$activity_level_3_row_items: 3;

$activity_transition_ms: 300ms;

$footer_h: 40px;
$footer_pt: 15px;

$view_spinner_dim: 60px;

$places_spinner_dim: 48px;
$places_header_h: 50px;
$places_transition_ms: 700ms;

$places_padding_lr: 20px;

$places_padding_t: 0px;
$places_padding_b: 30px;

$places_right_col: 60px;

$places_right_col_tb: 8px;

$range_radius_dim: 30px;
$range_persons_dim: 30px;
$range_duration_dim: 40px;

$overlay_transition_ms: 400ms;

$map_marker_height: 45px;

$map_activities_h: 130px;
$map_create_activity_h: 200px;

$hide_statusbar_ms: 300ms;

$create_activity_transition_ms: 600ms;
$create_activity_bottom_h: 100px;

$create_activity_gap_lr: 30px;

$confirm_action_transition_ms: 300ms;

$autocomplete_group_header_h: 30px;
$autocomplete_group_max_h: 200px;
