$app_margin_lr: 20px;

$logo_h: 40px;

$header_pb: 10px;

$activity_gap_lr: 10px;
$activity_gap_tb: 8px;
$activity_item_w: 25%;
$activity_row_items: 4;

$activity_level_2_item_w: 25%;
$activity_level_2_row_items: 4;
$activity_level_2_height: 70px;
$activity_level_2_ptb: 10px;
$activity_level_2_plr: 10px;
$activity_level_2_border_w: 1px;

$activity_level_3_item_w: 33.333%;
$activity_level_3_height: 60px;
$activity_level_3_row_items: 3;


$activity_transition_ms: 300ms;

$footer_h: 50px;
$footer_pt: 20px;