html.#{$class_create_activity_shown} {
    overflow: hidden;

    body {
        overflow: hidden;
    }

    #create-activity {
        transform: translateX(0);
    }

    #create-activity-back,
    #travel-times {
        opacity: 1;
        visibility: visible;
        transition:
            opacity $create_activity_transition_ms,
            visibility 0ms;
    }

    #activities {
        z-index: 3;
    }
}

#activities {
    &.custom-location {
        .reset-location {
            height: 25px !important;
            border: 1px solid $color_gray;
        }
    }

    .activities_container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .activities {
        //max-height: 50vh;
        overflow-y: scroll;

        display: flex;
        justify-content: center;

        .activity {
            cursor: pointer;

            .name {
                $fs: 15px;
                margin-top: 2px;
                font-weight: 300;
                font-size: $fs;
                line-height: $fs;
                text-align: center;
            }
        }

        .level_1 {
            $dim: 65px;
            display: flex;
            flex-wrap: wrap;
            overflow-x: hidden;

            .level_1_row {
                display: flex;
                gap: $activity_gap_tb $activity_gap_lr;
                flex-wrap: wrap;
                width: calc(100vw - #{($app_margin_lr + $view_padding_lr) * 2});
                margin-bottom: 8px;
            }
            //justify-content: center;

            .activity {
                border: 1px solid lightgray;
                box-sizing: border-box;
                padding: 8px 0;
                border-radius: 6px;
                flex-basis: calc(
                    #{$activity_item_w} - #{$activity_gap_lr} *
                        calc(($activity_row_items - 1) / $activity_row_items)
                );
                display: flex;
                justify-content: center;
                transition: background $activity_transition_ms;
                background: white;

                &.active {
                    &.font_white {
                        svg {
                            fill: white !important;
                        }

                        .name {
                            color: white;
                        }
                    }
                }

                &:not(.active) {
                    background-color: white !important;
                }

                .activity_wrapper {
                    width: $dim;
                }
                //height: $dim;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;

                    svg {
                        //width: $dim * .6;
                        height: $dim * 0.45;
                        fill: black;
                        transition: fill $activity_transition_ms;
                    }
                }
            }
        }

        .level_2 {
            $dim: 55px;
            height: 0;
            //background-color: #2d86c7;
            width: 100%;
            transition: all $activity_transition_ms;
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            border-radius: 12px;

            &.show {
                border-color: $brand_color_a;
                //border: $activity_level_2_border_w solid $brand_color_a;
                margin-bottom: $activity_gap_tb;

                &:last-of-type {
                    margin-top: $activity_gap_tb;
                }
            }

            .level_2_container {
                padding: $activity_level_2_ptb $activity_level_2_plr;
                width: calc(
                    100vw - #{$app_margin_lr * 2} - #{$activity_level_2_plr * 2} - #{$activity_level_2_border_w *
                        2}
                );
            }

            .level_2_row {
                display: flex;
                gap: $activity_gap_tb $activity_gap_lr;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 8px;
            }

            .activity {
                border: 1px solid lightgray;
                box-sizing: border-box;
                padding: 8px 0;
                border-radius: 6px;
                flex-basis: calc(
                    #{$activity_level_2_item_w} - #{$activity_gap_lr} *
                        calc(($activity_level_2_row_items - 1) / $activity_level_2_row_items)
                );
                display: flex;
                justify-content: center;
                height: $activity_level_2_height;

                .name {
                    $fs: 13px;
                    font-size: $fs;
                    line-height: $fs;
                    margin-top: 8px;
                }

                &.active {
                    background: $brand_color_b;

                    svg {
                        fill: black !important;
                    }

                    .name {
                        color: black;
                    }
                }

                .activity_wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &.no_icon {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .name {
                            margin-top: 0 !important;
                        }
                    }
                }
                //height: $dim;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;

                    .image,
                    .emoji {
                        display: flex;
                        flex-direction: column;
                        height: $dim * 0.5;
                    }

                    svg {
                        //width: $dim * .6;
                        height: $dim * 0.5;
                    }
                }
            }
        }

        .level_3 {
            $dim: 50px;
            height: 0;
            width: 100%;
            transition: all $activity_transition_ms;
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            border-radius: 12px;

            &.show {
                border-color: $color_gray;
                //border: $activity_level_2_border_w solid $brand_color_a;
                margin-bottom: $activity_gap_tb;

                &:last-of-type {
                    margin-top: $activity_gap_tb;
                    margin-bottom: 0;
                }
            }

            .level_3_container {
                padding: $activity_level_2_ptb $activity_level_2_plr;
                width: calc(100%);
            }

            .level_3_row {
                display: flex;
                gap: $activity_gap_tb $activity_gap_lr;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 8px;
            }

            .activity {
                border: 1px solid lightgray;
                box-sizing: border-box;
                padding: 8px 0;
                border-radius: 6px;
                flex-basis: calc(
                    #{$activity_level_3_item_w} - #{$activity_gap_lr} *
                        calc(($activity_level_2_row_items - 1) / $activity_level_2_row_items)
                );
                display: flex;
                justify-content: center;
                height: $activity_level_3_height;

                .name {
                    $fs: 13px;
                    font-size: $fs;
                    line-height: $fs;
                    margin-top: 8px;
                }

                &.active {
                    background: $brand_color_c;

                    svg {
                        fill: white !important;
                    }

                    .name {
                        color: white;
                    }
                }

                .activity_wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: unset;

                    &.no_icon {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .name {
                            margin-top: 0 !important;
                        }
                    }
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;

                    .image,
                    .emoji {
                        display: flex;
                        flex-direction: column;
                        height: $dim * 0.5;
                    }

                    svg {
                        //width: $dim * .6;
                        height: $dim * 0.5;
                    }
                }
            }
        }
    }
}

#activity-button {
    margin-top: 25px;
    background: $brand_color_b;
    width: fit-content;
    padding: 6px 8px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid gray;
}

#travel-times {
    $h: 26px;
    $w: 70px;
    $icon_h: $h * 0.6;
    $max_width: $w * 0.3;

    position: fixed;
    display: flex;
    justify-content: space-between;
    width: calc(calc(100vw - $create_activity_gap_lr * 2));
    top: calc(calc($map_create_activity_h - $h * 1.5));
    left: calc($create_activity_gap_lr);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    //transition:
    //        opacity $overlay_transition_ms,
    //        visibility 0ms $overlay_transition_ms;

    .mode {
        border-radius: 10px;
        transition: all 300ms;
        height: $h;
        padding: 0 10px;
        display: flex;
        align-items: center;
        border: 1px solid $color_lightgray;
        background: white;

        &.active {
            background-color: $brand_color_a;
            border-color: transparent;

            svg {
                fill: white;
            }

            .value {
                color: white !important;
            }
        }

        &.driving {
            svg {
                $r: calc(56.0002 / 43.9885);

                width: calc(calc($icon_h * $r) + 4px);
            }
        }

        &.bicycle {
            svg {
                $r: calc(176.669 / 97.693);

                width: calc(calc($icon_h * $r) + 4px);
            }
        }

        &.walking {
            $walk_h: $icon_h * 1.2;

            .icon {
                height: $walk_h;
            }

            svg {
                height: $walk_h !important;
            }
        }

        .icon {
            display: flex;
            height: $icon_h;
            padding-right: 6px;

            svg {
                height: $icon_h;
                max-width: $max_width;
                transition: all 300ms;
            }
        }

        .value {
            font-size: 13px;
            display: flex;
            min-width: 45px;
            transition: all 300ms;
            text-align: center;
            justify-content: center;
            opacity: 0;
        }
    }
}

#create-activity {
    $gap_tb: 30px;

    overflow-y: scroll;
    background-color: #fff;
    width: 100vw;
    height: calc(calc(100vh - $map_create_activity_h));
    height: calc(calc(100dvh - $map_create_activity_h));
    position: fixed;
    bottom: 0;
    z-index: 99;
    transform: translateX(115vw);
    overscroll-behavior: none;

    .main {
        height: calc(calc(100% - $create_activity_bottom_h));
        overflow-y: scroll;

        .container {
            padding: $gap_tb $create_activity_gap_lr;
            padding-top: 20px;
            overflow-x: hidden;
            position: relative;

            #create-activity-top-message {
                width: 100%;
                transform: translateY(-10px);
                position: relative;
                opacity: 0;
                transition: all 300ms;

                &.show {
                    opacity: 1;

                    .close {
                        opacity: 1;
                    }
                }

                .message {
                    font-size: 13px;
                    color: white;
                    margin: auto;
                    position: relative;
                    width: fit-content;
                    max-width: 90%;
                    height: 0;
                    overflow-y: hidden;
                    transition:
                        opacity 300ms ease,
                        height 300ms ease;
                }

                .inner {
                    width: fit-content;
                    max-width: 100%;
                    padding: 3px 15px;
                    border-radius: 6px;
                }

                .close {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    transition:
                        opacity 300ms ease,
                        transform 300ms ease;
                    z-index: 2;
                    top: -8px;
                    opacity: 0;
                    @include flex-center-col;

                    /* Position relative to the inner element */
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }

                    svg {
                        height: 17px;
                        background: white;
                        border-radius: 50%;
                    }
                }
            }

            .modes {
                display: flex;
                gap: 0 20px;
                margin-bottom: 10px;

                &.hide {
                    display: none;
                }

                .mode-option {
                    flex-grow: 1;
                    display: flex;
                    font-size: 13px;
                    font-weight: 300;
                    gap: 0 8px;
                    border: 1px solid $color_lightgray;
                    border-radius: 12px;
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 0;
                    transition: all 300ms;

                    &.active {
                        border-color: $brand_color_a;
                    }

                    .icon {
                        @include flex-center-col;
                    }

                    svg {
                        height: 16px;
                    }
                }
            }

            .sections {
                display: flex;
                flex-direction: column;
                gap: 10px 0;
            }

            .section {
                padding: 10px 0;
                padding-top: 0;
                position: relative;

                &:first-of-type {
                    padding-top: 0;
                }

                .label {
                    width: 100%;
                    font-size: 17px;
                    color: lighten(black, 24%);
                    font-weight: 500;
                    border-bottom: 1px solid lighten($brand_color_a, 10%);
                    padding-bottom: 6px;
                }

                .info {
                    padding-top: 6px;
                    font-size: 14px;
                }

                &.place {
                    .place-name {
                        font-size: 15px;
                        //font-weight: 500;
                    }

                    .info {
                        font-size: 12px;
                    }

                    .location {
                        margin-top: 4px;
                        font-size: 13px;
                    }
                }

                &.when {
                    $gap: 4px;

                    .time {
                        font-weight: 500;
                        margin-right: $gap;
                    }

                    .info {
                        display: flex;
                    }

                    .duration {
                        display: flex;

                        .value {
                            margin-left: $gap;
                        }
                    }
                }

                &.friends {
                    .info {
                        display: flex;
                        gap: 10px 0;

                        .col {
                            flex-basis: 50%;
                        }

                        .sub-heading {
                            font-weight: 600;
                            text-transform: uppercase;
                            font-size: 12px;
                        }

                        .value {
                            font-size: 14px;
                        }

                        .quantity {
                            .value {
                                margin-left: 9px;
                            }
                        }
                    }
                }

                &.filters {
                    .edit {
                        color: #0080ea;
                        font-weight: 500;
                        font-size: 14px;
                        position: absolute;
                        right: 0;
                        top: 38px;
                        cursor: pointer;
                    }

                    .active-filters {
                        display: flex;
                        flex-direction: column;
                        gap: 20px 0;

                        .filter {
                            .filter-name {
                                font-weight: 500;
                                font-size: 14px;
                                margin-bottom: 3px;

                                .small {
                                    font-size: 11px;
                                }
                            }

                            .filter-value {
                                font-size: 12px;
                                display: flex;
                                gap: 4px 0;
                                flex-direction: column;
                            }

                            .item {
                                display: flex;
                                position: relative;
                                height: 20px;
                                gap: 0 5px;
                            }

                            .review-rating {
                                $dim: 20px;
                                width: $dim;
                                height: $dim;
                                border-radius: 50%;
                                background-color: $brand_color_a;
                                color: white;
                                @include flex-center-col;
                                font-size: 9px;
                                transform: translate(0, -1px);
                                //left: 60px;
                                //position: absolute;
                            }

                            .importance {
                                $dim: 16px;
                                width: $dim;
                                height: $dim;
                                border-radius: 50%;
                                background-color: $brand_color_a;
                                color: white;
                                @include flex-center-col;
                                font-size: 11px;
                                transform: translate(-1px, -1px);
                            }

                            .category {
                                display: flex;
                                flex-direction: column;

                                margin-bottom: 10px;

                                &:last-of-type {
                                    margin-bottom: 0;
                                }

                                .category-name {
                                    font-size: 14px;
                                }
                            }


                            &.with-importance {
                                .filter-value {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 6px 0;
                                }

                                .item {
                                    display: flex;
                                    align-items: center;
                                    gap: 0 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom {
        height: $create_activity_bottom_h;
        box-sizing: border-box;
        border-top: 0.5px solid lighten(black, 40%);

        @include flex-center-col;

        #create-activity-btn {
            padding: 8px 16px;
            border-radius: 8px;
            background-color: $brand_color_a;
            color: white;
            min-width: 200px;
            @include flex-center;
            position: relative;

            svg {
                fill: white;
                height: 16px;
                margin-right: 12px;
            }

            .text {
                transform: translateY(-1.5px);
                position: relative;
                display: flex;
            }
        }
    }
}

#create-activity-back {
    $dim: 40px;
    position: fixed;
    top: calc(calc($map_create_activity_h * 0.5 - $dim * 0.5));
    left: calc($dim / 2);
    height: $dim;
    width: $dim;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    border-radius: 50%;
    background: white;
    border: 1px solid $color_lightgray;
    transition:
        opacity $overlay_transition_ms,
        visibility 0ms $overlay_transition_ms;

    @include flex-center-col;

    svg {
        height: 17px;
    }
}

#activity-duration {
    $outside_bc: lighten(black, 30%);
    $br: 10px;

    .level_1 {
        margin-top: 10px;
        display: flex;
        flex-wrap: nowrap;

        &.group-2 {
            .button:nth-of-type(1) {
                border-right: 0 !important;
            }
        }

        &.group-3 {
            .button:nth-of-type(2) {
                border-right: 0 !important;
            }
        }

        &.group-4 {
            .button:nth-of-type(3) {
                border-right: 0 !important;
            }
        }

        .button {
            flex-basis: 25%;
            background-color: lighten($brand_color_a, 48%);
            @include flex-center-col;
            border: 0.5px solid $outside_bc;
            //border-right: 0.5px solid lighten(black, 10%);
            padding: 6px 0;
            box-sizing: border-box;

            &:first-of-type {
                border-top-left-radius: $br;
            }

            &:last-of-type {
                border-top-right-radius: $br;
            }

            &.active {
                border-right: 0;
                background-color: $brand_color_a;
                color: white;
            }

            &.no-end {
                font-size: 11px;
                text-align: center;
                @include flex-center-col;
            }

            .num {
                $h: 14px;
                font-size: $h;
                line-height: $h;
                font-weight: 500;
            }

            .unit {
                $h: 12px;
                margin-top: 4px;
                font-size: $h;
                line-height: $h;
                font-weight: 300;
            }
        }
    }

    .level_2 {
        $gap_lr: 6px;
        $padding_lr: 10px;
        $row_items: 3;

        border-radius: $br;
        border: 0.5px solid $outside_bc;
        border-top: 0;
        padding: 10px $padding_lr;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .options {
            height: 0;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            //transition: all 300ms;
            gap: 6px $gap_lr;

            &.active {
                height: fit-content;
            }

            .option {
                flex-basis: calc(calc(calc(100% - $gap_lr * ($row_items - 1)) / $row_items));
                background: #ffe0b2;
                //transition: background-color 300ms;
                padding: 4px 0px;
                border-radius: 8px;
                gap: 0 5px;

                @include flex-center;

                &.selected {
                    background: #ffb74d;
                }

                .num-unit {
                    @include flex-center;
                    gap: 0 4px;

                    .num {
                        font-size: 15px;
                    }

                    .unit {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

#create-activity-spinner {
    $dim: 16px;
    width: $dim;
    height: $dim;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    opacity: 0;
    transition: all 200ms;
    z-index: 1000;
    right: 15px;
    margin-top: -1px;

    &.show {
        opacity: 1;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

