#activities {

    &.custom-location {
        .reset-location {
            height: 25px !important;
            border: 1px solid $color_gray;
        }
    }

    .activities_container {
        position: relative;
        overflow-y: scroll;
    }

    .activities {
        //max-height: 50vh;
        overflow-y: scroll;

        display: flex;
        justify-content: center;

        .activity {
            cursor: pointer;

            .name {
                $fs: 15px;
                margin-top: 2px;
                font-weight: 300;
                font-size: $fs;
                line-height: $fs;
                text-align: center;
            }
        }

        .level_1 {
            $dim: 65px;
            display: flex;
            flex-wrap: wrap;
            overflow-x: hidden;

            .level_1_row {
                display: flex;
                gap: $activity_gap_tb $activity_gap_lr;
                flex-wrap: wrap;
                width: calc(100vw - #{($app_margin_lr + $view_padding_lr) * 2});
                margin-bottom: 8px;
            }
            //justify-content: center;

            .activity {
                border: 1px solid lightgray;
                box-sizing: border-box;
                padding: 8px 0;
                border-radius: 6px;
                flex-basis: calc(
                    #{$activity_item_w} - #{$activity_gap_lr} * calc(($activity_row_items - 1) / $activity_row_items)
                );
                display: flex;
                justify-content: center;
                transition: background $activity_transition_ms;
                background: white;

                &.active {
                    &.font_white {
                        svg {
                            fill: white !important;
                        }

                        .name {
                            color: white;
                        }
                    }
                }

                &:not(.active) {
                    background-color: white !important;
                }

                .activity_wrapper {
                    width: $dim;
                }
                //height: $dim;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;

                    svg {
                        //width: $dim * .6;
                        height: $dim * 0.45;
                        fill: black;
                        transition: fill $activity_transition_ms;
                    }
                }
            }
        }

        .level_2 {
            $dim: 55px;
            height: 0;
            //background-color: #2d86c7;
            width: 100%;
            transition: all $activity_transition_ms;
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            border-radius: 12px;

            &.show {
                border-color: $brand_color_a;
                //border: $activity_level_2_border_w solid $brand_color_a;
                margin-bottom: $activity_gap_tb;

                &:last-of-type {
                    margin-top: $activity_gap_tb;
                }
            }

            .level_2_container {
                padding: $activity_level_2_ptb $activity_level_2_plr;
                width: calc(
                    100vw - #{$app_margin_lr * 2} - #{$activity_level_2_plr * 2} - #{$activity_level_2_border_w * 2}
                );
            }

            .level_2_row {
                display: flex;
                gap: $activity_gap_tb $activity_gap_lr;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 8px;
            }

            .activity {
                border: 1px solid lightgray;
                box-sizing: border-box;
                padding: 8px 0;
                border-radius: 6px;
                flex-basis: calc(
                    #{$activity_level_2_item_w} - #{$activity_gap_lr} *
                        calc(($activity_level_2_row_items - 1) / $activity_level_2_row_items)
                );
                display: flex;
                justify-content: center;
                height: $activity_level_2_height;

                .name {
                    $fs: 13px;
                    font-size: $fs;
                    line-height: $fs;
                    margin-top: 8px;
                }

                &.active {
                    background: $brand_color_b;

                    svg {
                        fill: black !important;
                    }

                    .name {
                        color: black;
                    }
                }

                .activity_wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &.no_icon {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .name {
                            margin-top: 0 !important;
                        }
                    }
                }
                //height: $dim;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;

                    .image,
                    .emoji {
                        display: flex;
                        flex-direction: column;
                        height: $dim * 0.5;
                    }

                    svg {
                        //width: $dim * .6;
                        height: $dim * 0.5;
                    }
                }
            }
        }

        .level_3 {
            $dim: 50px;
            height: 0;
            width: 100%;
            transition: all $activity_transition_ms;
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            border-radius: 12px;

            &.show {
                border-color: $color_gray;
                //border: $activity_level_2_border_w solid $brand_color_a;
                margin-bottom: $activity_gap_tb;

                &:last-of-type {
                    margin-top: $activity_gap_tb;
                }
            }

            .level_3_container {
                padding: $activity_level_2_ptb $activity_level_2_plr;
                width: calc(100%);
            }

            .level_3_row {
                display: flex;
                gap: $activity_gap_tb $activity_gap_lr;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 8px;
            }

            .activity {
                border: 1px solid lightgray;
                box-sizing: border-box;
                padding: 8px 0;
                border-radius: 6px;
                flex-basis: calc(
                    #{$activity_level_3_item_w} - #{$activity_gap_lr} *
                        calc(($activity_level_2_row_items - 1) / $activity_level_2_row_items)
                );
                display: flex;
                justify-content: center;
                height: $activity_level_3_height;

                .name {
                    $fs: 13px;
                    font-size: $fs;
                    line-height: $fs;
                    margin-top: 8px;
                }

                &.active {
                    background: $brand_color_c;

                    svg {
                        fill: white !important;
                    }

                    .name {
                        color: white;
                    }
                }

                .activity_wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: unset;

                    &.no_icon {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .name {
                            margin-top: 0 !important;
                        }
                    }
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;

                    .image,
                    .emoji {
                        display: flex;
                        flex-direction: column;
                        height: $dim * 0.5;
                    }

                    svg {
                        //width: $dim * .6;
                        height: $dim * 0.5;
                    }
                }
            }
        }
    }

    .reset-location {
        position: absolute;
        @include flex-center-col;
        border: 1px transparent;
        border-radius: 6px;
        background-color: lighten($color_lightgray, 10%);
        padding: 0px 10px;
        height: 0;
        transition: height 300ms ease-in-out;
        overflow-y: hidden;
        width: fit-content;
        z-index: 10;
        top: 8px;
        left: 8px;
        font-size: 10px;
    }
}

#activity-button {
    margin-top: 25px;
    background: $brand_color_b;
    width: fit-content;
    padding: 6px 8px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid gray;
}

#num-persons {
    .sub-section-title {
        margin-top: 10px;
    }

    .slider {
        margin-top: 15px;
        position: relative;
        width: 400px;
        max-width: calc(100%);

        span {
            position: absolute;
            color: white;
            background-color: $brand_color_a;
            padding: 6px 12px;
            top: -5px;
            border-radius: 6px;
            pointer-events: none;
        }
    }

    .range {
        -webkit-appearance: none;
        vertical-align: middle;
        outline: none;
        border: none;
        padding: 0;
        background: none;
        width: 100%;
        margin: 0;

        &::-webkit-slider-runnable-track {
            background-color: #d7dbdd;
            height: 6px;
            border-radius: 3px;
            border: 1px solid transparent;
        }

        &::-moz-range-track {
            background-color: #d7dbdd;
            height: 6px;
            border-radius: 3px;
            border: none;
        }

        &::-ms-track {
            color: transparent;
            border: none;
            background: none;
            height: 6px;
        }

        &::-ms-fill-lower {
            background-color: #d7dbdd;
            border-radius: 3px;
        }

        &::-ms-fill-upper {
            background-color: #d7dbdd;
            border-radius: 3px;
        }

        &::-ms-tooltip {
            display: none;
        }

        &::-moz-range-thumb {
            border-radius: 20px;
            height: $range_persons_dim;
            width: $range_persons_dim;
            border: none;
            background: none;
            background-color: #606670;
            opacity: 0;
        }

        &:active::-moz-range-thumb {
            outline: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            border-radius: 100%;
            background-color: #606670;
            height: $range_persons_dim;
            width: $range_persons_dim;
            margin-top: calc(-#{$range_persons_dim * 0.46});
            border: 1px solid darken(lightgray, 30%);
            opacity: 0;
        }

        &:active::-webkit-slider-thumb {
            outline: none;
        }

        &::-ms-thumb {
            border-radius: 100%;
            background-color: #606670;
            height: $range_persons_dim;
            width: $range_persons_dim;
            border: none;
            opacity: 0;
        }

        &:active::-ms-thumb {
            border: none;
        }

        &::-moz-range-track {
            background-color: #606670;
            border: none;
        }

        &::-ms-fill-lower {
            background-color: #606670;
        }

        &::-ms-fill-upper {
            background-color: #606670;
        }

        &::-webkit-slider-thumb {
            background-color: #aaa;
        }

        &::-moz-range-thumb {
            background-color: #aaa;
        }

        &::-ms-thumb {
            background-color: #aaa;
        }
    }
}
