#filters {
    background-color: $app_background;

    .sections {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
    }

    .section {
        //border: 1px solid $color_lightgray;
        border-radius: 16px;
        padding: 15px 20px;
        background: white;

        .section-name {
            font-size: 20px;
            font-weight: 500;
        }

        .section-options {
            margin-top: 10px;
        }

        &.reviews {
            padding-bottom: 20px;

            .section-options {
                display: flex;
                flex-direction: column;
                gap: 12px 0;
            }

            .section-option-name {
                display: flex;
                width: fit-content;
                position: relative;
                align-items: center;

                .checkbox {
                    margin-right: 8px;
                }

                .name {
                    width: fit-content;
                }
            }

            .include-new {
                margin-top: 10px;
                border: 1px solid lighten(black, 80%);
                padding: 8px 12px;
                border-radius: 6px;
                font-size: 15px;
            }

            .rating-display {
                $dim: 27px;
                width: $dim;
                height: $dim;
                border-radius: 50%;
                border: 1px solid lighten(black, 80%);
                font-size: 14px;
                color: lighten(black, 30%);
                position: absolute;
                right: calc(#{-$dim - 10px});
                top: -2.5px;

                @include flex-center-col;

                .text {
                    font-size: 14px;
                    display: none;
                }

                .value {
                    font-size: 12.5px;
                    font-weight: 500;
                }
            }

            .stars {
                display: flex;
                gap: 4px;
                flex-direction: column;
            }


            .stars-container {
                position: relative;
                width: fit-content;

            }

            .star-container {
                $dim: 20px;
                width: $dim;
                height: $dim;
                cursor: pointer;
                display: inline-block;
                position: relative;
                overflow: hidden;
                margin-top: 8px;

                svg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &.outline {
                        stroke: $brand_color_a;
                        stroke-width: 1.5px;
                        fill: transparent;
                    }

                    &.fill {
                        transition: all 0.2s ease;
                        stroke: none;
                        fill: $brand_color_a;
                    }
                }
            }

            // Slider styles
            .rating-slider {
                $thumb_dim: 20px;
                width: 100%;
                height: 4px;
                -webkit-appearance: none;
                appearance: none;
                background: lighten($color_lightgray, 10%);
                border-radius: 2px;
                outline: none;
                margin-top: 5px;
                margin-bottom: 0px;

                // Slider thumb
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: $thumb_dim;
                    height: $thumb_dim;
                    border-radius: 50%;
                    background: #ffffff;
                    background: $brand_color_a;

                    border: 2px solid $brand_color_a;
                    cursor: pointer;
                    transition: all 0.2s ease;

                    &:hover {
                        //background: $brand_color_a;
                        //transform: scale(1.1);
                    }
                }

                &::-moz-range-thumb {
                    width: $thumb_dim;
                    height: $thumb_dim;
                    border-radius: 50%;
                    background: #ffffff;
                    background: $brand_color_a;

                    border: 2px solid $brand_color_a;
                    cursor: pointer;
                    transition: all 0.2s ease;

                    &:hover {
                        //background: $brand_color_a;
                        //transform: scale(1.1);
                    }
                }
            }
        }
    }
}