#filters {
    $section_padding_lr: 20px;
    $section_padding_tb: 15px;
    $option_padding_lr: 12px;
    $option_padding_tb: 10px;
    $option_br: 10px;
    $border_color: lighten(black, 80%);

    background-color: $app_background;

    min-height: 100vh;
    min-height: 100dvh;

    .sections {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
    }

    .section {
        //border: 1px solid $color_lightgray;
        border-radius: 16px;
        padding: 0 0;
        background: white;
        position: relative;

        .section-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid $border_color;
            padding: 10px $section_padding_lr;
            transition: border $filters_section_transition_ms;

            .section-name {
                font-size: 17px;
                font-weight: 500;
            }

            .chevron {
                @include flex-center-col;
                width: 16px;
                transition: transform 300ms;

                svg {
                    width: 100%;
                    fill: lighten(black, 30%);
                }
            }
        }

        .filter-options {
            padding: $section_padding_tb $section_padding_lr;
        }

        .filter-option {
            position: relative;
        }

        .section-container {
            overflow-y: hidden;
            transition: height $filters_section_transition_ms;
            padding: 0;
        }

        .filter-option-name {
            display: flex;
            width: fit-content;
            position: relative;
            align-items: center;

            .checkbox {
                margin-right: 8px;
            }

            .name {
                width: fit-content;
            }
        }

        &.reviews {
            .filter-options {
                display: flex;
                flex-direction: column;
                gap: 14px 0;
            }

            .filter-option {
                border: 1px solid $border_color;
                padding: $option_padding_tb $option_padding_lr;
                padding-bottom: 15px;
                border-radius: $option_br;
            }

            .include-new {
                //margin-top: 10px;
                border: 1px solid $border_color;
                padding: 8px 12px;
                font-size: 15px;
                height: 35px;
                display: flex;
                align-items: center;

                .send-receive .receive {
                    border-bottom-left-radius: 0 !important;
                    border-bottom-right-radius: $option_br;
                }
            }

            .rating-display {
                $dim: 27px;
                width: $dim;
                height: $dim;
                border-radius: 50%;
                border: 1px solid lighten(black, 80%);
                font-size: 14px;
                color: lighten(black, 30%);
                position: absolute;
                right: calc(#{-$dim - 10px});
                top: -2.5px;

                @include flex-center-col;

                .text {
                    font-size: 14px;
                    display: none;
                }

                .value {
                    font-size: 12.5px;
                    font-weight: 500;
                }
            }

            .stars {
                display: flex;
                gap: 4px;
                flex-direction: column;
            }

            .stars-container {
                position: relative;
                width: fit-content;
            }

            .star-container {
                $dim: 20px;
                width: $dim;
                height: $dim;
                cursor: pointer;
                display: inline-block;
                position: relative;
                overflow: hidden;
                margin-top: 8px;

                svg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &.outline {
                        stroke: $brand_color_a;
                        stroke-width: 1.5px;
                        fill: transparent;
                    }

                    &.fill {
                        transition: all 0.2s ease;
                        stroke: none;
                        fill: $brand_color_a;
                    }
                }
            }

            // Slider styles
            .rating-slider {
                $thumb_dim: 20px;
                width: 100%;
                height: 4px;
                -webkit-appearance: none;
                appearance: none;
                background: lighten($color_lightgray, 10%);
                border-radius: 2px;
                outline: none;
                margin-top: 5px;
                margin-bottom: 0px;

                // Slider thumb
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: $thumb_dim;
                    height: $thumb_dim;
                    border-radius: 50%;
                    background: #ffffff;
                    background: $brand_color_a;

                    border: 2px solid $brand_color_a;
                    cursor: pointer;
                    transition: all 0.2s ease;

                    &:hover {
                        //background: $brand_color_a;
                        //transform: scale(1.1);
                    }
                }

                &::-moz-range-thumb {
                    width: $thumb_dim;
                    height: $thumb_dim;
                    border-radius: 50%;
                    background: #ffffff;
                    background: $brand_color_a;

                    border: 2px solid $brand_color_a;
                    cursor: pointer;
                    transition: all 0.2s ease;

                    &:hover {
                        //background: $brand_color_a;
                        //transform: scale(1.1);
                    }
                }
            }
        }

        &.ages {
            $slider_h: 8px;
            padding-bottom: 10px;

            .range-container {
                position: relative;
                width: calc(100% - 20px);
                padding-top: 50px;
                margin: auto;
            }

            .sliders-control {
                position: relative;
                //height: 40px;
            }

            .slider-track {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: $slider_h;
                background-color: #e5e7eb;
                border-radius: $slider_h;
            }

            .slider-range {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: $slider_h;
                background-color: $brand_color_a;
                border-radius: 2px;
            }

            .thumb {
                position: absolute;
                top: 50%;
                width: $filter_range_dim;
                height: $filter_range_dim;
                background-color: white;
                border: 2px solid $brand_color_a;
                border-radius: 50%;
                cursor: pointer;
                transform: translate(-50%, -50%);
            }

            .thumb-value {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                font-weight: 300;
                //color: $brand_color_a;
                pointer-events: none;
            }

            .send-receive {
                transform: translate(0, -$option_padding_tb);
            }
        }

        &.collapsed {
            .section-top {
                border-bottom-color: transparent;

                .chevron {
                    transform: rotate(180deg);
                }
            }

            .section-container {
                height: 0;
            }
        }
    }

    .send-receive {
        display: flex;
        flex-direction: column;
        $br: $option_br;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(0px, 0px);

        .option {
            padding: 4px 0;
            font-size: 12px;
            font-weight: 500;
            transition: all 200ms;
            width: 60px;
            background-color: lighten(black, 94%);
            @include flex-center;

            &.enabled {
                background-color: $brand_color_a;
                color: white;
            }
        }

        .send {
            //border-bottom-left-radius: $br;
            border-top-right-radius: $br;
            border-bottom: 1px solid darken($color_lightgray, 5%);
        }

        .receive {
            //border-top-right-radius: $br;
            border-bottom-left-radius: $br;
        }

        &.full-borders {
            .send {
                border-top-left-radius: $br !important;
                border-top-right-radius: $br !important;
            }

            .receive {
                border-bottom-left-radius: $br !important;
                border-bottom-right-radius: $br !important;
            }
        }
    }
}
