footer {
    position: fixed;
    bottom: 0;

    #navigation {
        display: flex;
        width: 100vw;
        padding-top: $footer_pt;
        padding-bottom: var(--sab);
        background: lighten($brand_color_a, 48%);
        height: $footer_h;

        .navigation {
            flex-basis: 33.333%;
            text-align: center;
            display: flex;
            flex-direction: column;
            //align-items: center;
            //justify-content: center;

            .icon {
                svg {
                    height: 24px;
                }
            }

            .name {
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}
