footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    //display: none;

    #navigation {
        $background_color: lighten($brand_color_a, 51.5%);
        $transition_ms: 200ms;

        display: flex;
        width: 100vw;
        padding-top: $footer_pt;
        padding-bottom: var(--sab);
        background: $background_color;
        border-top: 1px solid $app_background;

        .nav-item {
            flex-basis: 20%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .container {
                transition: all $transition_ms;
                padding: 6px 12px;
                width: fit-content;
                min-width: 40px;
                border-radius: 12px;
                background-color: $background_color;
            }

            //align-items: center;
            //justify-content: center;

            .icon {
                svg {
                    height: 22px;
                    transition: all $transition_ms;

                    path {
                        stroke-width: 6px;
                    }
                }
            }

            .name {
                font-weight: 300;
                font-size: 12px;
                transition: all $transition_ms;
            }

            &.active {
                .container {
                    background-color: $nav_color;
                }

                svg {
                    fill: white;

                    path {
                        stroke: white;
                    }
                }
                .name {
                    color: white;
                    font-weight: 500;
                }
            }

            &.no-transition {
                .container,
                .name,
                svg {
                    transition: none !important;
                }
            }
        }
    }
}
