footer {
    position: fixed;
    bottom: 0;
    //display: none;

    #navigation {
        display: flex;
        width: 100vw;
        padding-top: $footer_pt;
        padding-bottom: var(--sab);
        background: lighten($brand_color_a, 51.5%);
        border-top: 1px solid $color_lightgray;
        //height: $footer_h;

        .nav-item {
            flex-basis: 33.333%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .container {
                transition: all 300ms;
                padding: 6px 0;
                width: 60px;
                border-radius: 12px;
            }

            &.active {
                .container {
                    background-color: $brand_color_a;
                }

                svg {
                    fill: white;

                    path {
                        stroke: white;
                        stroke-width: 6px;
                    }
                }
                .name {
                    color: white;
                    font-weight: 500;
                }
            }

            //align-items: center;
            //justify-content: center;

            .icon {
                svg {
                    height: 22px;
                    transition: all 300ms;
                }
            }

            .name {
                font-weight: 300;
                font-size: 12px;
                transition: all 300ms;
            }
        }
    }
}
