header {
    padding-top: var(--sat);
    padding-bottom: $header_pb;
    position: fixed;
    top: 0;
    background: $app_background;
    width: 100vw;
    z-index: 999;
    display: none;
}

#logo {
    margin-left: $app_margin_lr;
    display: flex;

    img {
        height: $logo_h;
    }
}
