html.#{$class_change_location} {
    overflow: hidden;

    body {
        overflow: hidden;
    }

    #change-location {
        transform: translateY(0);
    }
}

#change-location-btn {
    z-index: 3;
    font-size: 12px;
    color: lighten(black, 25%);
    border-radius: 6px;
    background-color: lighten($brand_color_b, 5%);
    width: fit-content;
    padding: 6px 12px;
    border: 0.4px solid darken($brand_color_a, 20%);
    display: flex;
    align-items: center;
    gap: 0 7px;
    font-weight: 400;

    .icon {
        .outer {
            fill: white;
        }
        .inner {
            fill: darken($brand_color_b, 5%);
        }
    }
}

#place-search-location {
    display: flex;
    margin-top: 2px;
    padding: 8px 0;

    .cols {
        display: flex;
        flex-grow: 1;
    }

    .left-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .right-col {
        margin-left: auto;
    }

    .section-title {
        margin-bottom: 0 !important;
    }

    .near {
        font-size: 11px;
        font-weight: 500;

        .near-wrapper {
            display: flex;
            flex-direction: column;
        }

        .near-text {
            font-weight: 500;
        }
    }
}

#change-location {
    overflow-y: hidden;
    background-color: #fff;
    width: 100vw;
    height: 70vh;
    max-height: 700px;
    position: fixed;
    bottom: 0;
    z-index: 99;
    border-radius: 30px 30px 0 0;
    transform: translateY(120%);
    transition: transform $places_transition_ms;

    .back {
        $h: 17px;
        position: absolute;
        top: calc(calc($places_header_h/2 - $h / 2));
        left: $places_padding_lr;
        height: $h;
        z-index: 2;
    }

    .wrapper {
        position: relative;
        height: 100%;

        .header {
            height: $places_header_h;
            border-bottom: 0.5px solid $color_gray;
            @include flex-center-col;

            .title {
                text-align: center;
                font-size: 13px;
            }
        }
    }

    .suggestions {
        height: calc(100% - var(--sab));
        overflow-y: scroll;

        .items {
            display: flex;
            flex-direction: column;
            height: fit-content;
            min-height: 100%;
            padding-top: $places_padding_t;
            padding-bottom: calc(calc($places_padding_b + var(--sab)));
        }

        .suggestion-item {
            border-bottom: 1px solid $color_lightgray;

            padding: 8px 30px;

            .suggestion-name {
                display: flex;
                font-size: 13px;
                align-items: center;

                .city {
                }

                .state {
                }

                .country {
                    margin-left: 6px;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
    }

    .spinner {
        position: absolute;
        width: $places_spinner_dim;
        height: $places_spinner_dim;
        border: 5px solid $brand_color_a;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: none;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        left: calc(50% - calc($places_spinner_dim / 2));
        top: calc(50% - calc($places_spinner_dim / 2 + $places_header_h / 2));

        &.show {
            display: inline-block;
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .change-location-input {
        $p_lr: 20px;

        width: calc(100%);
        padding: 6px $p_lr;
        border: 1px solid lightgrey;
        -webkit-appearance: none;
        appearance: none;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        resize: none;
        box-sizing: border-box;
        font-family: inherit;
        transition: border 200ms;
        border-radius: 0;

        &:focus,
        &:focus-visible {
            outline: none;
            border: 1px solid $brand_color_a;
        }
    }
}
