html.#{$class_create_activity_shown} {
    #activities-map-wrapper {
        .buttons-wrapper {
            visibility: hidden;
        }
    }
}

#activities-map-wrapper {
    margin-bottom: 10px;
    width: 100%;
    height: $map_activities_h;

    .buttons-wrapper {
        $icon_pos_x_y: 8px;

        position: relative;
        visibility: visible;

        .icon {
            height: 16px;
        }

        .reset-location {
            position: absolute;
            border: 1px transparent;
            border-radius: 6px;
            background-color: lighten($color_lightgray, 10%);
            padding: 0 10px;
            height: 0;
            transition: height 300ms ease-in-out;
            overflow-y: hidden;
            width: fit-content;
            z-index: 3;
            top: calc($icon_pos_x_y);
            left: $icon_pos_x_y;
            font-size: 10px;
            @include flex-center-col;
        }

        .reset-to-marker {
            position: absolute;
            border: 1px solid $color_gray;
            border-radius: 6px;
            transition: height 300ms ease-in-out;
            overflow-y: hidden;
            width: 27px;
            height: 27px;
            z-index: 3;
            top: $icon_pos_x_y;
            right: $icon_pos_x_y;
            background: white;
            @include flex-center-col;

            svg {
                height: 17px;
            }
        }
    }

    .map-context-details {
        display: none;

        .within {
            font-size: 10px;
            margin-bottom: 5px;
        }

        .slider-wrapper {
            display: flex;
            flex-direction: column;
        }

        .slider {
            position: relative;
            width: 400px;
            max-width: calc(100% - 2px);
            padding-right: 2px; //prevents circle from being cut off

            div {
                position: absolute;
                color: black;
                background-color: $brand_color_b;
                width: $range_radius_dim;
                height: $range_radius_dim;
                top: -2px;
                border-radius: 50%;
                pointer-events: none;
                font-size: 9px;
                border: 1px solid $color_lightgray;

                @include flex-center;

                span {
                    margin-left: 2px;
                    font-size: 7px;
                    font-weight: 600;
                }
            }
        }

        .range {
            -webkit-appearance: none;
            vertical-align: middle;
            outline: none;
            border: none;
            padding: 0;
            background: none;
            width: 100%;
            margin: 0;

            &::-webkit-slider-runnable-track {
                background-color: #d7dbdd;
                height: 6px;
                border-radius: 3px;
                border: 1px solid transparent;
            }

            &::-moz-range-track {
                background-color: #d7dbdd;
                height: 6px;
                border-radius: 3px;
                border: none;
            }

            &::-ms-track {
                color: transparent;
                border: none;
                background: none;
                height: 6px;
            }

            &::-ms-fill-lower {
                background-color: #d7dbdd;
                border-radius: 3px;
            }

            &::-ms-fill-upper {
                background-color: #d7dbdd;
                border-radius: 3px;
            }

            &::-ms-tooltip {
                display: none;
            }

            &::-moz-range-thumb {
                border-radius: 20px;
                height: $range_radius_dim;
                width: $range_radius_dim;
                border: none;
                background: none;
                background-color: #606670;
                opacity: 0; //hides knob below circle
            }

            &:active::-moz-range-thumb {
                outline: none;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none !important;
                border-radius: 100%;
                background-color: #606670;
                height: $range_radius_dim;
                width: $range_radius_dim;
                margin-top: calc(-#{$range_radius_dim * 0.46});
                border: 1px solid darken(lightgray, 30%);
                opacity: 0; //hides knob below circle
            }

            &:active::-webkit-slider-thumb {
                outline: none;
            }

            &::-ms-thumb {
                border-radius: 100%;
                background-color: #606670;
                height: $range_radius_dim;
                width: $range_radius_dim;
                border: none;
                opacity: 0;
            }

            &:active::-ms-thumb {
                border: none;
            }

            &::-moz-range-track {
                background-color: #606670;
                border: none;
            }

            &::-ms-fill-lower {
                background-color: #606670;
            }

            &::-ms-fill-upper {
                background-color: #606670;
            }

            &::-webkit-slider-thumb {
                background-color: #aaa;
            }

            &::-moz-range-thumb {
                background-color: #aaa;
            }

            &::-ms-thumb {
                background-color: #aaa;
            }
        }

        .city {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}

#activities-map {
    width: calc(calc(100vw - $app_margin_lr * 2 - $view_padding_lr * 2));
    height: $map_activities_h;
    border-radius: 8px;
    border: 0.5px solid $color_lightgray;
    transform: translate(0, 0);
    transition: all $create_activity_transition_ms;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.marker {
    background-size: contain;
}

//.mapboxgl-ctrl-zoom-in, .mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-compass {
//    display: none !important;
//}
