html.#{$class_available_me_sections} {
    overflow: hidden;

    body {
        overflow: hidden;
    }

    #me-section-options {
        right: 0;
    }
}

html.#{$class_confirm_me_action} {
    overflow: hidden;

    body {
        overflow: hidden;
    }

    #confirm-me-action {
        opacity: 1;
        visibility: visible;
        transition:
            opacity $confirm_action_transition_ms,
            visibility 0ms;
    }
}

#me {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 20px;
    gap: initial !important;
    padding-bottom: calc(var(--footer_full_h) + 60px) !important;
    min-height: calc(100vh - var(--footer_full_h) - var(--view-top));

    &.autocomplete-shown {
        min-height: max(1000px, 100vh);
    }

    .top {
        @include flex-center;

        .first-name {
            @include flex-center-col;
            font-size: 20px;
            font-weight: 500;
        }

        .birthday {
            margin-left: auto;

            .icon-age {
                //$dim: 40px;
                display: flex;
                gap: 0 8px;

                //@include flex-center-col;
                //
                //border-radius: 50%;
                //border: 1px solid;
                //width: $dim;
                //height: $dim;
            }

            .age {
                position: absolute;
                transform: translate(10px, 16px);
                font-size: 13px;

                &.one-hundred {
                    transform: translate(6px, 16px);
                }
            }

            svg {
                height: 36px;
            }

            .date {
                font-size: 10px;
            }
        }
    }

    .about-me {
        margin-top: 25px;
        .heading-row {
            @include flex-center;

            .add-section-btn {
                margin-left: auto;
            }
        }
    }

    .add-section-btn {
        $color: white;
        background-color: lighten($brand_color_a, 0%);
        padding: 4px 12px;
        width: fit-content;
        border-radius: 6px;
        color: $color;
        display: flex;
        align-items: center;
        //border: .5px solid black;
        font-size: 13px;

        .icons {
            gap: 0 6px;
            justify-content: center;
            margin-left: 8px;
            display: none;
        }

        svg {
            height: 12px;
            fill: $color;
        }
    }

    .sections {
        $padding_tb: 12px;
        $padding_lr: 12px;
        $padding_lr_inner: 15px;
        $br: 8px;
        $section_top_h: 32px;
        $search_br: 4px;
        display: flex;
        flex-direction: column;
        gap: 15px 0;
        margin-top: 20px;

        .section {
            border: 1px solid $color_lightgray;
            padding: 0;
            border-radius: $br;

            &.collapsed {
                border-bottom: 1px transparent;

                .section-top {
                    border-bottom-left-radius: $br;
                    border-bottom-right-radius: $br;
                }

                .section-container {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &.show-menu {
                .menu {
                    $pt: 5px;
                    //height: 23px !important;
                    //padding-top: $pt !important;
                    //padding-bottom: $pt !important;
                    border: 1px solid lighten(black, 60%) !important;
                    opacity: 1;
                    width: 90px !important;
                }
            }

            .section-top {
                padding: 4px $padding_lr;
                @include flex-center;
                border-bottom: 1px solid $color_lightgray;
                transition: all 300ms;

                .title {
                    @include flex-center-col;
                    font-size: 16px;
                    font-weight: 400;
                }

                .icon {
                    @include flex-center-col;

                    margin-right: 6px;

                    svg {
                        height: 20px;
                    }
                }

                .collapse {
                    @include flex-center-col;
                    height: 8px;
                }

                .actions {
                    position: relative;
                    margin-left: auto;
                    @include flex-center;
                    gap: 0 8px;
                    height: $section_top_h;

                    .more {
                        @include flex-center-col;
                        height: 4px;
                        fill: lighten(black, 30%);
                    }

                    .menu {
                        position: absolute;
                        right: -12px;
                        top: -3px;
                        padding: 0 0;
                        background: white;
                        border-radius: 6px;
                        width: 0;
                        height: 36px;
                        overflow: hidden;
                        border: 1px transparent;
                        transition: all 300ms;
                        @include flex-center-col;

                        .action {
                            @include flex-center;
                            gap: 0 3px;

                            svg {
                                height: 14px;
                            }

                            .name {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .section-container {
                padding: 0 $padding_lr_inner;
                margin-top: $padding_tb;
                margin-bottom: $padding_tb;
                overflow-y: hidden;
                transition: all 300ms;
            }

            .category-filters {
                display: flex;
                gap: 8px;
                margin-bottom: $padding_tb;
                flex-wrap: wrap;
            }

            .category-btn {
                padding: 4px 8px;
                border: 1px solid $color_lightgray;
                border-radius: 15px;
                background: lighten(black, 95%);
                cursor: pointer;
                transition: all 0.2s;
                font-size: 11px;
                font-weight: 500;

                &.active {
                    background: $brand_color_a;
                    color: white;
                    border-color: $brand_color_a;
                }
            }

            .search-container {
                position: relative;

                &.#{$class_autocomplete_me} {
                    $bc: lighten(black, 60%);

                    .autocomplete-list {
                        max-height: 180px;
                        height: fit-content;
                        overflow-y: scroll;
                        border: 1px solid $bc;
                        border-top: 1px transparent;
                        visibility: visible;
                        z-index: 10;
                        display: flex !important;
                    }

                    .search-input {
                        //border-bottom: 1px solid $color_gray;
                        border-bottom-left-radius: 0 !important;
                        border-bottom-right-radius: 0 !important;
                    }

                    .input-container {
                        border-bottom-left-radius: 0 !important;
                        border-bottom-right-radius: 0 !important;
                        border: 1px solid $input_focus_color !important;
                    }

                    .search-icon-container {
                        border-bottom-right-radius: 0 !important;
                    }
                }

                &.has-select {
                    display: flex;
                    flex-direction: column;
                    gap: 10px 0;

                    .autocomplete-container {
                        //flex-basis: 70%;
                    }
                }

                .autocomplete-container {
                    position: relative;
                    height: fit-content;

                    .input-container {
                        width: 100%;
                        display: flex;
                        border-radius: $search_br;
                        box-sizing: border-box;
                        border: 1px solid $color_lightgray;

                        &.input-focus {
                            border: 1px solid $input_focus_color;
                        }
                    }

                    .search-icon-container {
                        width: 30px;
                        height: inherit;
                        background: lighten(black, 90%);
                        border-top-right-radius: $search_br;
                        border-bottom-right-radius: $search_br;
                        border-left: 0.5px solid lighten(black, 60%);
                        box-sizing: border-box;

                        @include flex-center-col;
                    }

                    .search-icon {
                        height: 14px;
                        fill: $color_gray;
                    }
                }

                .select-container {
                    position: relative;
                    margin: 0 auto;
                    width: 100%;
                    $br: 6px;

                    &.open {
                        .select-dropdown {
                            display: flex;
                            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
                            border: 1px solid $color_lightgray;
                        }

                        .select-arrow {
                            //transform: translateY(-50%) rotate(180deg) !important;
                        }
                    }

                    &.no-items {
                        .no-results {
                            display: flex !important;
                            justify-content: center;
                        }
                    }

                    .selected-container {
                        padding: 4px 12px;
                        background: white;
                        border: 1px solid $color_lightgray;
                        border-radius: $br;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        box-sizing: border-box;

                        .selected-name {
                            font-size: 14px;
                        }

                        .select-arrow {
                            position: absolute;
                            right: 8px;
                            top: 50%;
                            transform: translateY(-50%) rotate(0deg);
                            transition: transform 200ms;
                            @include flex-center-col;

                            svg {
                                height: 7px;
                            }
                        }
                    }

                    .select-dropdown {
                        $pl: 20px;
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        background: white;
                        border-radius: $br;
                        z-index: 10;
                        flex-direction: column;
                        box-sizing: border-box;

                        .select-search-container {
                            padding: 0 0;
                            border-bottom: 1px solid $color_lightgray;
                            position: relative;
                        }

                        .select-input {
                            $pr: 16px;
                            $ptb: 10px;
                            width: calc(100% - calc($pl + $pr));
                            padding: $ptb 12px $ptb $pl;
                            border: 0;
                            outline: none;
                            font-size: 15px;
                        }

                        .search-icon {
                            height: 13px;
                            position: absolute;
                            right: 5px;
                            top: 50%;
                            transform: translateY(-50%);
                            display: none;
                        }

                        .select-list {
                            //padding: 10px 0;
                            max-height: 240px;
                            overflow-y: auto;
                            margin: 0;
                            list-style: none;

                            .item {
                                padding: 8px 12px;
                                padding-left: $pl;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                border-bottom: 1px solid $color_lightgray;

                                .emoji {
                                    font-size: 14px;
                                    margin-right: 10px;
                                }

                                .name {
                                    font-size: 16px;
                                }
                            }
                        }

                        .no-results {
                            display: none;
                            padding: 15px 0;
                        }
                    }
                }
            }

            .search-input {
                $plr: 10px;
                width: calc(100%);
                padding: 6px $plr;
                border-radius: $search_br;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                font-size: 14px;
                transition: border-radius 200ms;
                outline: none;
                border: 0px transparent;

                &:focus,
                &:focus-visible {
                }
            }

            .autocomplete-list {
                position: absolute;
                overflow-y: hidden;
                background-color: #fff;
                width: 100%;
                height: 0;
                z-index: -1;
                //transition: all 300ms;
                border: 1px transparent;
                border-radius: $br;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                box-sizing: border-box;
                //visibility: hidden;
                display: none;
                flex-direction: column;

                .no-results {
                    font-size: 16px;
                    padding: 12px 0;
                    @include flex-center;
                }

                .item {
                    padding: 5px 16px;
                    font-size: 14px;
                    border-bottom: 1px solid $color_lightgray;

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }

            .items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                margin-top: $padding_tb;

                &.no-items {
                    margin-top: 0;
                }

                .item {
                    border: 1px solid $color_lightgray;
                    border-radius: 8px;
                    padding: 8px;
                    text-align: center;
                    cursor: pointer;
                    transition: all 0.3s;
                    font-size: 12px;
                    background: lighten(black, 97%);
                    position: relative;

                    .name {
                        font-size: 13px;
                        font-weight: 500;
                    }

                    .remove {
                        $dim: 16px;
                        position: absolute;
                        width: $dim;
                        height: $dim;
                        top: 4px;
                        right: 4px;
                        background-color: white;
                        border-radius: 50%;
                        border: 1px solid lighten(black, 70%);
                        @include flex-center-col;

                        svg {
                            height: 1px;
                            transform: scale(0.7, 0.7);
                        }
                    }
                }

                .secondary {
                    $transition_ms: 300ms;
                    $br: 16px;

                    position: relative;
                    width: 100%;
                    cursor: pointer;
                    margin-top: 5px;

                    // Open state
                    &.open {
                        .current-selected {
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                        .options {
                            border: 1px solid $color_lightgray;
                            opacity: 1;
                        }
                    }

                    // Unselected state
                    &.unselected {
                        .current-selected {
                            font-weight: 300;
                        }
                    }

                    // Selected display
                    .current-selected {
                        padding: 4px 8px;
                        border: 1px solid lighten(black, 82%);
                        border-radius: $br;
                        background: white;
                        font-size: 12px;
                        font-weight: 400;
                        transition: border-radius $transition_ms;
                    }

                    .arrow {
                        $h: 5px;
                        height: $h;
                        position: absolute;
                        right: 8px;
                        top: calc(50% - calc($h / 2));
                    }

                    // Options container
                    .options {
                        height: 0;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        background: white;
                        border: 1px transparent;
                        border-top: none;
                        border-radius: 0 0 $br $br;
                        //box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                        z-index: 3;
                        flex-direction: column;
                        padding: 0px 0;
                        gap: 0 0;
                        transition: all $transition_ms;
                        overflow-y: hidden;
                        box-sizing: border-box;
                        border-top: 1px transparent !important;
                        display: flex;

                        //opacity: 0;

                        // Individual option
                        .option {
                            padding: 8px 8px;
                            font-size: 13px;
                            border-radius: 0 !important;
                            box-sizing: border-box;
                            transition: all $transition_ms;

                            &:hover {
                                background: #f5f5f5;
                            }

                            &.selected {
                                background: darken($brand_color_c, 5%);
                                color: white;
                            }
                        }
                    }
                }
            }

            &.schools {
                .autocomplete-list {
                    $bc: $brand_color_a;
                    max-height: fit-content !important;
                    //overflow-y: initial !important;

                    .group {
                        max-height: $autocomplete_group_max_h;
                        border-top: 1px solid $bc;
                        overflow-y: hidden;

                        &:first-of-type {
                            border-top: 0;
                        }

                        .group-list {
                            overflow-y: scroll;
                            height: calc(100% - #{$autocomplete_group_header_h});
                        }

                        .group-name {
                            height: $autocomplete_group_header_h;
                            line-height: $autocomplete_group_header_h;
                            font-weight: 300;
                            text-align: center;
                            background: lighten($brand_color_a, 40%);
                            border-bottom: 1px solid $bc;
                            @include flex-center-col;
                        }

                        .location {
                            font-weight: 600;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

#confirm-me-action {
    $br: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    box-sizing: border-box;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity $confirm_action_transition_ms,
        visibility 0ms $confirm_action_transition_ms;

    .title {
        padding: 12px 20px;
        text-align: center;
        border: 1px solid lighten(black, 70%);
        box-sizing: border-box;
        border-top-left-radius: $br;
        border-top-right-radius: $br;
        border-bottom: 0.5px solid lighten(black, 30%);
        background: white;

        .main {
            font-weight: 300;
            font-size: 17px;
        }

        .details {
            font-weight: 500;
            font-size: 15px;
            margin-top: 2px;
        }
    }

    .buttons {
        display: flex;
        box-sizing: border-box;

        .button {
            padding: 8px 0;
            color: white;
            flex-basis: 50%;
            @include flex-center;
            box-sizing: border-box;

            &.yes {
                background: $brand_color_a;
                border-right: 0.5px solid lighten(black, 30%);
                border-bottom-left-radius: $br;
            }

            &.no {
                background: lighten(black, 50%);
                border-bottom-right-radius: $br;
            }
        }
    }
}

#me-section-options {
    $min-w: 160px;
    $max-w: 220px;
    $preferred-w: 50vw;
    position: fixed;
    right: calc(-1 * clamp($min-w, $preferred-w, $max-w));
    top: var(--sbh);
    width: clamp($min-w, $preferred-w, $max-w);
    height: calc(100%);
    background: #f8f9fa;
    box-shadow: -1px 0 3px rgba(0, 0, 0, 0.1);
    transition: right 0.3s;
    padding: 20px 15px;
    box-sizing: border-box;
    z-index: 101;

    .title {
        font-weight: 600;
    }

    .options {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 8px 0;

        .option {
            $plr: 10px;
            display: flex;
            width: calc(100% - calc($plr * 2));
            padding: 6px $plr;
            background-color: white;
            border-radius: 7px;
            border: 1px solid $color_lightgray;

            .icon {
                width: 25px;
                @include flex-center-col;

                svg {
                    height: 20px;
                    @include flex-center-col;
                }
            }

            .name {
                @include flex-center-col;
                font-size: 12px;
                font-weight: 500;
                margin-left: 6px;
            }

            .add {
                display: flex;
                font-size: 9px;
                margin-left: auto;
                justify-content: center;
                align-items: center;
                gap: 0 5px;

                svg {
                    height: 15px;
                    @include flex-center-col;
                }
            }
        }
    }
}
