html.#{$class_places_shown} {
    overflow: hidden;

    body {
        overflow: hidden;
    }

    #places {
        transform: translateY(0);
    }
}

#place-search {
    margin-bottom: 10px;
    //display: none;

    $input_focus_color: $brand_color_a;
    $br: 8px;

    .input-search-place {
        $p_lr: 10px;

        width: calc(100%);
        padding: 6px $p_lr;
        border: 1px solid lightgrey;
        -webkit-appearance: none;
        appearance: none;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        resize: none;
        box-sizing: border-box;
        font-family: inherit;
        transition: border 200ms;
        border-radius: $br;

        &:focus,
        &:focus-visible {
            outline: none;
            border: 1px solid $input_focus_color;
        }
    }

    .place-search-suggestions {
        position: absolute;
        overflow-y: hidden;
        background-color: #fff;
        width: 100%;
        height: 0;
        z-index: 10;
        transition: all 300ms;
        border: 1px transparent;
        border-radius: $br;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-sizing: border-box;

        .container {
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
        }

        .place {
            position: relative;
            padding: 5px 10px;
            border-bottom: 1px solid $color_lightgray;
            display: flex;

            &:last-of-type {
                border-bottom: 0;
            }

            .left-col {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                position: relative;
            }

            .distance {
                font-size: 9px;
                font-weight: 600;
                margin-bottom: 2px;
                //transform: translateY(-2px);
            }

            .right-col {
                margin-left: auto;
                z-index: 2;
                @include flex-center-col;

                .button {
                    padding: 4px 14px;
                    border-radius: 6px;
                    background-color: $brand_color_b;
                    height: fit-content;
                    font-size: 13px;
                    //text-transform: uppercase;
                    border: 0.5px solid $color_gray;
                }
            }

            .name {
                font-weight: 500;
                font-size: 14px;
                max-width: calc(100vw - calc($places_padding_lr * 2 + $places_right_col));
                margin-top: 0px
            }

            .location {
                display: flex;
                align-items: center;
                margin-top: 0;

                .location-address {
                    display: flex;
                    gap: 0 6px;
                    align-items: center;
                    font-weight: 400;
                }

                .address {
                    font-size: 13px;
                }

                .address_2 {
                    font-size: 12px;
                    transform: translateY(0.4px);
                }

                .locality {
                    font-size: 10px;
                    transform: translateY(0.3px);
                }
            }
        }
    }

    &.#{$class_places_suggest_shown} {
        $border_color: darken($color_lightgray, 15%);
        .input-search-place {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            //border-bottom-color: $border_color;
        }

        .place-search-suggestions {
            height: 220px;
            overflow-y: scroll;
            border: 1px solid $border_color;
            border-top: 1px transparent;
        }
    }
}

#places {
    overflow-y: hidden;
    background-color: #fff;
    width: 100vw;
    height: 70vh;
    max-height: 700px;
    position: fixed;
    bottom: 0;
    z-index: 99;
    border-radius: 30px 30px 0 0;
    transform: translateY(120%);
    transition: transform $places_transition_ms;

    &.no-places-found {
        .no-places {
            @include flex-center-col;
            height: 100%;
        }

        .places-wrapper {
            display: none;
        }
    }

    .back {
        $h: 17px;
        position: absolute;
        top: calc(calc($places_header_h/2 - $h / 2));
        left: $places_padding_lr;
        height: $h;
        z-index: 2;
    }

    .no-places {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .places-wrapper {
        position: relative;
        height: 100%;

        .header {
            height: $places_header_h;
            border-bottom: 0.5px solid $color_gray;
            @include flex-center-col;

            .title {
                text-align: center;
                font-size: 13px;
            }

            #places-time {
                font-size: 11px;
                font-weight: 600;
            }
        }
    }

    .places {
        overflow-y: scroll;
        height: calc(100% - var(--sab) - calc($places_padding_t + $places_padding_b));
        padding-top: $places_padding_t;
        padding-bottom: $places_padding_b;
        display: flex;
        flex-direction: column;

        .place {
            position: relative;
            padding: 5px $places_padding_lr;
            border-bottom: 1px solid $color_lightgray;
            display: flex;

            .left-col {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
            }

            .rating-price {
                display: flex;
                gap: 0 10px;
                align-items: center;
            }

            .distance-price {
                display: flex;
                align-items: center;
                margin-bottom: 5px;

                .distance {
                    font-size: 12px;
                    font-weight: 600;
                    margin-right: 10px;
                }
            }

            .right-col {
                margin-left: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 2;

                .button {
                    margin-top: auto;
                    padding: 4px 14px;
                    border-radius: 6px;
                    background-color: $brand_color_b;
                    height: fit-content;
                    font-size: 13px;
                    //text-transform: uppercase;
                    margin-bottom: $places_right_col_tb;
                    border: 0.5px solid $color_gray;
                }
            }

            .name-price {
                display: flex;
            }

            .name {
                font-weight: 500;
                font-size: 14px;
                max-width: calc(100vw - calc($places_padding_lr * 2 + $places_right_col));
                line-height: 140%;
                margin-bottom: 5px;
            }

            .location {
                display: flex;
                align-items: center;
                margin-top: 3px;

                .location-address {
                    display: flex;
                    gap: 0 6px;
                    align-items: center;
                    font-weight: 400;
                }

                .address {
                    font-size: 13px;
                }

                .address_2 {
                    font-size: 12px;
                    transform: translateY(0.4px);
                }

                .locality {
                    font-size: 10px;
                    transform: translateY(0.3px);
                }
            }

            .price {
                font-weight: 300;
                font-size: 13px;
                transform: translateY(-0.5px);
                width: 20px;
            }

            .rating {
                display: flex;
                gap: 0 5px;
                align-items: center;

                .stars {
                    display: flex;
                    gap: 0 2px;

                    .circle-container {
                        $dim: 12px;
                        width: $dim;
                        height: $dim;
                        position: relative;
                        overflow: hidden;
                        border-radius: 50%;
                        background-color: white;
                        border: 1px solid darken($color_lightgray, 20%);

                        .fill {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .no-rating {
                    margin-top: -3px;
                    font-size: 11px;
                    //font-style: italic;
                    font-weight: 300;
                }

                .num {
                    font-size: 12px;
                }
            }

            .hours {
                display: none;
                gap: 0 0;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &.show {
                    display: flex;
                }

                .status {
                    font-size: 10px;
                    font-weight: 600;
                    text-align: center;
                    text-transform: uppercase;
                    margin-top: $places_right_col_tb;
                }

                .at {
                    font-size: 9px;
                }

                &.open {
                    .status {
                        color: $color_green;
                    }
                }

                &.closed {
                    .status {
                        color: black;
                    }
                }
            }
        }
    }

    .spinner {
        position: absolute;
        width: $places_spinner_dim;
        height: $places_spinner_dim;
        border: 5px solid $brand_color_a;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: none;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        left: calc(50% - calc($places_spinner_dim / 2));
        top: calc(50% - calc($places_spinner_dim / 2 + $places_header_h / 2));

        &.show {
            display: inline-block;
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    &.active {
        //height: 250px;
    }
}
