#reviews-overlay {
    $reviews_h: calc(100vh - 200px);
    $reviews_max_h: 650px;
    $review_ptb: 10px;

    &.no-transition {
        .reviews-popup-overlay, .reviews, .activities-container {
            transition: none !important;
        }
    }

    &.active {
        .reviews-popup-overlay {
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 1;
            pointer-events: all;
        }

        .reviews {
            transform: translate3d(0, 0, 0);
        }
    }

    &.transition-out {
        .reviews, .reviews-popup-overlay {
            transition: none !important;
            display: none !important;
        }
    }

    .close {
        $dim: 32px;
        $br: 8px;
        $ptb: 6px;
        position: absolute;
        top: calc($dim * -1 - ($ptb * 2) - 1px);
        left: 0;
        padding: $ptb 12px;
        border-top-right-radius: $br;
        background-color: rgba(255, 255, 255, .9);
        border: .5px solid lighten(black, 50%);
        box-sizing: border-box;
        @include flex-center-col;

        svg {
            @include flex-center-col;
            height: $dim;
        }
    }

    .reviews {
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: $reviews_h;
        max-height: $reviews_max_h;
        padding: 0;
        padding-bottom: var(--sab);
        background-color: white;
        transform: translate3d(0, calc(100% + 60px), 0);
        transition: transform $reviews_transition_ms cubic-bezier(0.33, 1, 0.68, 1);
        z-index: 2000;
        will-change: transform;

        .heading {
            font-size: 18px;
            font-weight: 500;
            width: 100vw;
            display: flex;
            justify-content: center;
            padding: 20px 0;
            border-bottom: .5px solid lighten(black, 70%);
        }
    }

    .reviews-popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        padding: 20px;
        opacity: 0;
        transition:
                background-color $reviews_transition_ms,
                opacity $reviews_transition_ms;

        pointer-events: none;
    }

    .review-content-scrollable {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    .activities-container {
        display: flex;
        width: 100vw;
        height: auto;
        position: relative;
        transition: transform $reviews_transition_ms ease;
        flex: 1;
        //overflow-y: scroll;

        &.no-transition {
            transition: none !important;
        }

        .activity-slide {
            $subtract_h: 100px;
            min-width: 100vw;
            width: 100vw;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            overflow-y: hidden;
            overflow-x: hidden;
            padding: 0;
            height: calc($reviews_h - $subtract_h);
            max-height: calc($reviews_max_h - $subtract_h);
        }
    }

    .arrows {
        display: none;
        position: absolute;
        width: 100vw;

        &.show {
            display: flex;
        }
    }

    .navigation-arrow {
        position: absolute;
        top: 13px;
        width: $reviews_arrow_dim;
        height: $reviews_arrow_dim;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s ease, background-color 0.3s ease;

        &.disabled {
            opacity: 0.3;
            cursor: default;
        }

        svg {
            $p: .8;
            width: $reviews_arrow_dim * $p;
            height: $reviews_arrow_dim * $p;
            fill: none;
            stroke: #333;
            stroke-width: 2;
        }

        &:hover:not(.disabled) {
            background-color: rgba(255, 255, 255, 0.9);
        }

        &#reviews-prev-arrow {
            left: 5px;
        }

        &#reviews-next-arrow {
            right: 5px;
        }
    }

    .slide-indicators {
        display: flex;
        width: 100%;
        max-width: 80vw;
        margin: 0 auto;
        height: 30px;
        margin-top: auto;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding: 0 10px;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }

        .slide-indicators-inner {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 0 $reviews_indicator_gap;
            padding: 0 10px;
            margin: auto;
        }

        .slide-indicator {
            width: $reviews_indicator_dim;
            height: $reviews_indicator_dim;
            min-width: $reviews_indicator_dim;
            border-radius: 50%;
            background-color: #ddd;
            cursor: pointer;
            transition: all 0.3s ease; /* Ensure all properties transition smoothly */

            &.active {
                background-color: #666;
                transform: scale(1.2);
            }

            &:hover:not(.active) {
                background-color: #bbb;
            }
        }
    }

    .review-card {
        $padding: 15px;

        display: flex;
        flex-direction: column;
        height: auto;
        max-width: 600px;
        width: 90vw;
        margin: 0 auto;
        overflow-y: visible;
        overflow-x: hidden;

        .review-header {
            margin-bottom: $review_ptb;

            .activity-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px 20px;
                background-color: rgba(0, 0, 0, 0.03);
                border-radius: 12px;
                gap: 15px 0;
                border: 1px solid darken($brand_color_a, 15%);

                .activity-details {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                }

                .activity-icon {
                    $dim: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        height: $dim;
                    }
                }

                .name-location {
                    display: flex;
                    flex-direction: column;
                    gap: 2px 6px;
                    font-size: 16px;
                    font-weight: 500;
                }

                .icon-name {
                    display: flex;
                    gap: 0 14px;
                    align-items: center;
                }

                .activity-meta {
                    display: flex;
                    gap: 2px 15px;
                    color: lighten(black, 20%);
                    align-items: center;
                    //width: fit-content;
                    //border-bottom: 1px solid darken($brand_color_a, 10%);
                    padding-bottom: 5px;
                }

                .activity-date {
                    font-size: 18px;
                    font-weight: 500;
                }

                .activity-time {
                    font-size: 16px;
                    //transform: translateY(1.2px);
                }

                .activity-location {
                    font-weight: 400;
                    font-size: 15px;
                }
            }
        }

        .review-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px 0;
            overflow-y: visible;

            .section-heading {
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 5px;
                color: #333;
            }

            .persons-section {
                .persons-nav {
                    display: flex;
                    gap: 15px;
                    overflow-x: auto;
                    padding: 0;

                    &::-webkit-scrollbar {
                        height: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(0, 0, 0, 0.2);
                        border-radius: 4px;
                    }

                    .person-nav {
                        $dim: 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: fit-content;
                        padding: 8px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: background-color 0.2s ease, border 0.2s ease;
                        border: .5px solid $color_lightgray;

                        &.active {
                            background-color: transparentize($brand_color_b, .5);
                            border-color: darken($brand_color_a, 25%);
                            //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        }

                        .image {
                            width: $dim;
                            height: $dim;
                            border-radius: 50%;
                            background-size: cover;
                            background-position: center;
                            border: 1px solid #eee;
                        }

                        .name {
                            margin-top: 8px;
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
            }

            .no-show-section {
                display: flex;
                margin: 0;

                .button {
                    border-radius: 12px;
                    padding: 6px 18px;
                    font-size: 12px;
                    font-weight: 400;
                    color: lighten(black, 30%);
                    cursor: pointer;
                    transition: all 0.2s ease;
                    background-color: rgba(0, 0, 0, 0.03);
                    border: .5px solid darken($brand_color_a, 20%);
                    display: flex;
                    align-items: center;
                    position: relative;

                    .q {
                        font-size: 12px;
                        font-weight: 300;
                        position: absolute;
                        right: 8px;
                        transition: all 200ms ease-out;
                        opacity: 1;
                    }

                    &:hover {
                        //background-color: #f0f0f0;
                    }

                    &.active {
                        background-color: #ffebee !important;
                        border-color: #e57373;
                        color: #d32f2f;

                        .q {
                            opacity: 0 !important;
                        }
                    }
                }
            }

            .ratings-section {
                transition: opacity 0.3s ease;

                &.disabled {
                    opacity: 0.5;
                    pointer-events: none;
                    position: relative;
                }

                .ratings-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px 0;
                    justify-content: space-between;
                }

                .rating-option {
                    padding: 10px 10px;
                    padding-bottom: 12px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.02);
                    border: 1px solid #eee;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-basis: calc(50% - 30px);

                    &.no-rating {
                        .rating-display {
                            display: flex !important;
                        }

                        .clear-rating-btn {
                            display: none;
                        }
                    }

                    .rating-name {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;
                        position: relative;

                        .name {
                            font-size: 14px;
                            font-weight: 500;
                        }

                        .rating-display {
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            right: 0;
                            background-color: white;
                            transform: translate(5px, -2px);
                            display: none;
                            border-radius: 6px;
                            width: fit-content;
                            padding: 3px 9px;
                            border: .5px solid $color_lightgray;

                            .value {
                                text-align: center;
                                line-height: 14px;
                                font-size: 9px;
                                font-weight: 300;
                            }
                        }
                    }

                    .stars {
                        display: flex;
                        gap: 10px 5px;
                        flex-direction: column;
                    }

                    .stars-container {
                        display: flex;
                        gap: 8px;
                        width: fit-content;
                    }

                    .star-container {
                        $dim: 22px;
                        width: $dim;
                        height: $dim;
                        cursor: pointer;
                        position: relative;

                        svg {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            fill: transparent;

                            &.outline {
                                stroke: $brand_color_a;
                                stroke-width: 1.5px;
                                fill: transparent;
                            }

                            &.fill {
                                //fill: $brand_color_a;
                                transition: all 0.2s ease;
                            }
                        }
                    }
                }
            }
        }
    }

    .review-card-wrapper {
        padding: 15px 0;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .review-error {
        text-align: center;
        padding: 30px;
        color: #666;
        font-size: 16px;
    }

    .saved-message {
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: rgb(0, 0, 0, 0.05);
        padding: 6px 14px;
        border-radius: 10px;
        width: fit-content;
        display: flex;
        gap: 0 8px;
        align-items: center;
        border: .5px solid darken($brand_color_a, 25%);
        opacity: 0;
        visibility: hidden;
        transition: all 400ms;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        svg {
            height: 12px;
            fill: darken($brand_color_a, 10%);
        }

        .text {

        }
    }

    .name-clear {
        display: flex;
        //flex-direction: column;
        align-items: center;
        gap: 5px 5px;
    }

    .clear-rating-btn {
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
        opacity: 1;
        visibility: visible;
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 2;

        .button {
            background-color: transparentize($color_lightgray, .7);
            border: 1px solid #ddd;
            color: lighten(black, 40%);
            border-radius: 4px;
            padding: 2px 6px;
            cursor: pointer;
            transition: all 0.2s ease;
            font-size: 10px;
            font-weight: 600;
            @include flex-center-col;

            svg {
                height: 12px;
            }

            &:hover {
                background-color: #f5f5f5;
                //color: #555;
            }
        }
    }
}



#reviews-spinner {
    $dim: 16px;
    width: $dim;
    height: $dim;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    opacity: 0;
    transition: all 200ms;
    z-index: 1000;
    left: 15px;

    &.show {
        opacity: 1;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

