@import "variables";
@import "base";
@import "header";
@import "footer";
@import "activities";

//for devices with notches
:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

html, body {
    margin: 0;
    padding: 0;
}

#app {
    height: 100vh;
    height: 100dvh;
}

.section__title {
    font-size: 20px;
}