@import "_variables";
@import "fonts";
@import "_mixins";
@import "header";
@import "views";
@import "footer";
@import "when";
@import "who";
@import "maps";
@import "activities";
@import "places";

@import "vendor/mapbox";

//for devices with notches
:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    //--header_h: calc(#{$logo_h + $header_pb} + var(--sat));
    --header_h: var(--sat);
    --footer_full_h: calc(#{$footer_h + $footer_pt} + var(--sab));
}

//removes highlight box on click
* {
    -webkit-tap-highlight-color: transparent;
}

//prevents selection of text
* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//hide scrollbars
* ::-webkit-scrollbar {
    display: none;
    background-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: $app_background;
}

body.loading {
    visibility: hidden;
}

#app {
    overflow-y: hidden;
    min-height: 100vh;
    min-height: 100dvh;

    //background: lighten($color_lightgray, 10%);
}

#overlay {
    height: 100vh;
    width: 100vw;
    z-index: 4;
    background-color: black;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: opacity 0.5s;
    top: 0;
}

html.#{$class_places_shown},
html.#{$class_change_location} {
    #overlay {
        opacity: 0.18;
        visibility: visible;
    }
}
