@import "_variables";
@import "fonts";
@import "_mixins";
@import "os";
@import "header";
@import "views";
@import "footer";
@import "when";
@import "who";
@import "maps";
@import "activities";
@import "places";
@import "location";

@import "vendor/mapbox";

//for devices with notches
:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    //--header_h: calc(#{$logo_h + $header_pb} + var(--sat));
    --header_h: var(--sat);
    --footer_full_h: calc(#{$footer_h + $footer_pt} + var(--sab));
}

//removes highlight box on click
* {
    -webkit-tap-highlight-color: transparent;
}

//prevents selection of text
* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//hide scrollbars
* ::-webkit-scrollbar {
    display: none;
    background-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: $app_background;
}

body.loading {
    visibility: hidden;
}

#app {
    overflow-y: hidden;
    min-height: 100vh;
    min-height: 100dvh;
}

#overlay {
    display: block;
    position: fixed;
    top: 0;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    z-index: 20;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transform: translateZ(0);
    transition:
            opacity $overlay_transition_ms,
            visibility 0ms $overlay_transition_ms;
}

html.#{$class_places_shown},
html.#{$class_change_location},
html.#{$class_create_activity_shown} {
    #overlay {
        opacity: 0.18;
        visibility: visible;
        transition: opacity $overlay_transition_ms,
                    visibility 0ms;
    }
}