#view-spinner {
    position: absolute;
    width: $view_spinner_dim;
    height: $view_spinner_dim;
    border: 5px solid $brand_color_a;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    left: calc(50% - calc($view_spinner_dim / 2));
    top: calc(50% - calc($view_spinner_dim / 2));

    z-index: 1000;

    &.show {
        display: inline-block;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

#views {
    //margin: 0 $app_margin_lr;
    //margin-top: $view_gap_tb;

    //height: calc(100vh - var(--footer_full_h) - var(--header_h) - 30px);

    .view {
        //height: 100%;
        display: none;
        flex-direction: column;
        gap: $view_gap_tb 0;

        padding: var(--view-top) $app_margin_lr calc(var(--footer_full_h) + 40px);

        &.active {
            display: flex;
        }

        &.view-home {
            background-color: $app_background;
        }

        .view-section {
            background: white;
            padding: 10px $view_padding_lr;
            border-radius: 16px;
        }

        .section-title {
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .sub-section-title {
            font-size: 11px;
            font-weight: 400;
        }
    }
}
