#when {
    overflow-x: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .section-title {
        padding-left: $view_padding_lr;
    }

    .when-wrapper {
        position: relative;
    }

    .when-options-container {
        overflow-x: scroll;
        position: relative;
        padding-left: $view_padding_lr;
    }

    .arrow {
        $box_dim: 30px;
        $arrow_h: 16px;
        z-index: 3;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transform: translateY(calc(50% - calc($arrow_h / 2)));
        transition:
                opacity 200ms,
                visibility 0ms 200ms;
        width: $box_dim;
        height: $box_dim;
        @include flex-center-col;

        &.show {
            opacity: 1;
            visibility: visible;
            transition:
                    opacity 200ms,
                    visibility 0ms;
        }

        svg {
            height: $arrow_h;
        }
    }

    .arrow-left {
        left: -8px;
    }

    .arrow-right {
        right: -8px;
    }

    .when-options {
        display: flex;
        gap: 6px $when_option_gap_lr;
        width: fit-content;

        .when-option {
            $br: 6px;
            $bw: 0.5px;
            justify-content: end;
            width: $when_option_width;
            display: flex;
            flex-direction: column;
            border: $bw solid darken($color_lightgray, 15%);
            box-sizing: border-box;
            border-radius: $br;
            overflow: hidden;
            transition: all 300ms;
            @include flex-center-col;

            &:last-of-type {
                margin-right: $view_padding_lr;
            }

            .tab {
                display: flex;
                //background: $brand_color_c;
                padding: 2px 0;
                margin-left: auto;
                width: 100%;
                //border-bottom: 1px solid lightgray;
                font-weight: 400;
                box-sizing: border-box;
                transition: all 300ms;
                @include flex-center;

                &.font_white {
                    color: white;
                }

                .value {
                    font-size: 14px;
                    margin-right: 3px;
                    transform: translateY(-0.5px);
                }

                .unit {
                    font-size: 12px;
                    transform: translateY(-0.5px);
                }
            }

            .when-container {
                width: 100%;
                transition: all 300ms;
            }

            .name {
                font-size: 12px;
                text-align: center;
            }

            .time {
                font-size: 13px;
                font-weight: 400;
                padding: 6px 0;
                @include flex-center-col;
            }

            &.schedule {
                .tab {
                    display: none;
                }

                .time {
                    padding: 0;
                }

                svg {
                    height: 20px;
                    transition: all 300ms;
                    margin-bottom: 3px;
                }

                .name {
                    @include flex-center-col;
                    font-size: 11px !important;
                }
            }

            &.active {
                border: $bw solid $color_gray;
                background: $brand_color_a;

                .tab {
                    border-bottom-color: transparent;

                    background-color: $brand_color_b !important;
                    color: black;
                }

                .when-container {
                    color: white;
                }

                svg {
                    fill: white;
                }
            }
        }
    }
}
