#when {
    .when-options {
        display: flex;
        flex-wrap: wrap;
        gap: 6px 6px;

        .when-option {
            $w: 60px;
            //$h: 38px;
            $br: 6px;
            $pt: 4px;
            $bw: 0.5px;
            flex-basis: $w;
            justify-content: end;
            display: flex;
            flex-direction: column;
            //height: $h;
            border: $bw solid $color_lightgray;
            padding: 0 0;
            border-radius: $br;
            overflow: hidden;
            transition: all 300ms;
            @include flex-center-col;

            .tab {
                display: flex;
                font-size: 12px;
                //background: $brand_color_c;
                padding: 1px 0;
                margin-left: auto;
                width: 100%;
                //border-bottom: 1px solid lightgray;
                font-weight: 300;
                box-sizing: border-box;
                transition: all 300ms;
                @include flex-center;

                &.font_white {
                    color: white;
                }

                .value {
                    font-size: 14px;
                    margin-right: 3px;
                    transform: translateY(-0.5px);
                }

                .unit {
                    font-size: 12px;
                    transform: translateY(-0.5px);
                }
            }

            .when-container {
                width: 100%;
                transition: all 300ms;
            }

            .name {
                font-size: 12px;
                text-align: center;
            }

            .time {
                font-size: 11px;
                font-weight: 500;
                padding: 6px 0;
                @include flex-center-col;
            }

            &.now,
            &.schedule {
                .tab {
                    display: none;
                }

                .time {
                    padding: 0;
                }
            }

            &.schedule {
                svg {
                    height: 20px;
                    transition: all 300ms;
                }
                .name {
                    font-size: 10px !important;
                }
            }

            &.active {
                border: $bw solid $color_gray;
                background: $brand_color_a;

                .tab {
                    border-bottom-color: transparent;

                    background-color: $brand_color_b !important;
                    color: black;
                }

                .when-container {
                    color: white;
                }

                svg {
                    fill: white;
                }
            }
        }
    }
}
