#who {
    padding-bottom: 20px !important;

    .friend-options {
        display: flex;
        flex-wrap: wrap;
        gap: 0 10px;

        .friend-option {
            $bw: .6px;
            flex: 1;
            border-radius: 8px;
            border: $bw solid $color_lightgray;
            padding: 6px 0;
            transition: all 300ms;
            text-align: center;

            &.active {
                border: $bw solid darken($brand_color_a, 20%);
                background-color: $brand_color_b;
            }

            .name {
                font-size: 13px;
            }
        }
    }
}
