<?xml version='1.0' encoding='utf-8'?>
<widget id="app.befriend" version="1.0.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Befriend</name>
    <description>Befriend App</description>
    <author email="eugene@befriend.app">
        Eugene Gekhter
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>Your location is used to find places and match you with people nearby.</string>
    </edit-config>

    <edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>Your location is used to find places and match you with people nearby.</string>
    </edit-config>

    <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
        <string>Your location is used to find places and match you with people nearby.</string>
    </edit-config>

    <!-- Make the status bar overlay the WebView -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    
    <!-- Set the status bar background color (iOS) -->
    <preference name="StatusBarBackgroundColor" value="#000000" />
    
    <!-- Set the status bar style (iOS) -->
    <preference name="StatusBarStyle" value="lightcontent" />

    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>

    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="android-compileSdkVersion" value="33" />
    <preference name="scheme" value="http" />
    <preference name="Fullscreen" value="true" />
</widget>
