<?xml version='1.0' encoding='utf-8'?>
<widget id="app.befriend" version="1.0.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Befriend</name>
    <description>Befriend App</description>
    <author email="eugene@befriend.app">
        Eugene Gekhter
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="maps:*" />

<!--    <allow-navigation href="maps://*" />-->

    <preference name="Orientation" value="portrait" />

    <preference name="DisallowOverscroll" value="true" />

    <preference name="StatusBarHidden" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarDefaultScrollToTop" value="true" />

<!--    <preference name="StatusBarBackgroundColor" value="default" />-->
    <preference name="StatusBarStyle" value="#000" />

    <platform name="ios">
<!--        <preference name="SwiftVersion" value="5" />-->
<!--        <preference name="deployment-target" value="13.0" />-->

        <!-- Allow background operation -->
        <edit-config file="*-Info.plist" target="UIBackgroundModes" mode="replace">
            <array>
                <string>remote-notification</string>
                <string>fetch</string>
                <string>processing</string>
            </array>
        </edit-config>

        <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
            <string>Your location is used to find places and match you with people nearby.</string>
        </edit-config>

        <edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
            <string>Your location is used to find places and match you with people nearby.</string>
        </edit-config>

        <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
            <string>Your location is used to find places and match you with people nearby.</string>
        </edit-config>
    </platform>

    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>

    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="android-compileSdkVersion" value="33" />
    <preference name="scheme" value="http" />
    <preference name="Fullscreen" value="true" />

    <allow-intent href="geo:*" />
</widget>
